In [1]:
import json
import sys
sys.path.append(r'C:\Users\udit sharma\Desktop\MSA\2020-Phase-1\Data Science and Machine Learning')
# sys.path.append(r'c:\users\udit sharma\appdata\local\programs\python\python38-32\lib\site-packages')
import pandas as pd
import requests

df = pd.read_csv(r'C:\Users\udit sharma\Desktop\MSA\2020-Phase-1\Data Science and Machine Learning\Dataset.csv')
df_index=pd.read_excel(r'C:\Users\udit sharma\Desktop\MSA\2020-Phase-1\Data Science and Machine Learning\Census Data\otago730395.xlsx')

In [2]:
def get_census(dataframe):
 url='https://koordinates.com/services/query/v1/vector.json'
 census={}
 sa=dataframe.loc[:,'SA1']
 i=0
 for sa1 in sa:


    params = {
        'key' : '7f7a33c9ddc94259bf32bb7ec2df2000',
         'layer' : 104612,
       'x' : dataframe['Longitude'][i],
        'y' : dataframe['Latitude'][i],
        'max_results' : 1

    }

    response = requests.get(url, params=params)
    if response.status_code != 200:
        print('result issue for:',sa1)
    flag=0
    if(str(response.json()['vectorQuery']['layers']['104612']['features'][0]['properties']['SA12018_V1_00'])==str(sa1)):
        census[sa1]=response.json()['vectorQuery']['layers']['104612']['features'][0]['properties']['C18_CURPop']
        print(sa1)
    else:
        print('The key issue for sa1:',sa1,' Found the sa1:',response.json()['vectorQuery']['layers']['104612']['features'][0]['properties']['SA12018_V1_00'])

    i+=1
 return census

In [3]:
df.head()

,Bedrooms,Bathrooms,Address,Land area,CV,Latitude,Longitude,SA1,0-19 years,20-29 years,30-39 years,40-49 years,50-59 years,60+ years,Suburbs
0,5,3.0,"106 Lawrence Crescent Hill Park, Auckland",714,960000,-37.012920,174.904069,7009770,48,27,24,21,24,21,Manurewa
1,5,3.0,"8 Corsica Way Karaka, Auckland",564,1250000,-37.063672,174.922912,7009991,42,18,12,21,15,30,Karaka
2,6,4.0,"243 Harbourside Drive Karaka, Auckland",626,1250000,-37.063580,174.924044,7009991,42,18,12,21,15,30,Karaka
3,2,1.0,"2/30 Hardington Street Onehunga, Auckland",65,740000,-36.912996,174.787425,7007871,42,6,21,21,12,15,Onehunga
4,3,1.0,"59 Israel Avenue Clover Park, Auckland",601,630000,-36.979037,174.892612,7008902,93,27,33,30,21,33,Clover Park

In [4]:
census=get_census(df)

7009770
7009991
7009991
7007871
7008902
7007917
7004908
7005903
7009808
7003826
7003826
7003826
7002805
7009565
7004424
7007562
7007562
7001422
7001422
7001422
7007751
7002324
7004268
7007391
7004956
7006932
7001678
7006356
7004636
7006277
7005632
7005632
7005632
7005632
7010341
7007766
7008696
7003352
7004023
7009992
7008633
7007765
7001675
7006190
7007820
7009998
7004387
7004387
7009541
7005166
7009731
7009861
7003341
7006318
7007223
7007223
7006178
7006178
7003315
7005999
7009958
7006737
7006075
7006075
7006075
7009471
7010539
7004296
7002617
7009880
7009882
7007125
7006106
7006106
7001269
7004112
7005129
7008343
7008343
7003463
7006236
7009955
7010021
7001409
7001409
7001409
7001409
7001409
7001409
7001409
7001409
7009106
7001739
7008844
7008844
7007786
7002953
7009239
7001568
7007615
7009995
7009995
7010203
7009684
7007317
7010504
7002758
7008648
7005199
7005473
7005473
7004415
7003539
7002875
7005463
7003086
7001158
7005250
7008656
7007252
7004220
7009970
7007983
7010024
7007906
7010270
7010270
7005474
7002670
7001611
7009392
7006441
7002550
7004881
7007923
7008462
7010002
7006467
7001213
7001628
7006080
7009901
7010237
7010237
7009107
7009107
7010364
7006050
7006050
7003521
7010199
7010199
7009906
7002666
7005141
7007481
7003976
7006581
7009292
7009772
7007592
7007342
7006635
7006635
7005093
7006461
7006911
7001771
7006097
7001859
7004701
7004547
7006346
7008964
7007672
7010211
7010211
7010211
7009850
7009515
7009515
7003789
7010971
7005974
7005974
7006399
7008935
7006010
7003938
7007837
7008426
7004156
7004156
7006422
7001725
7009434
7009263
7006032
7006032
7009435
7006345
7006345
7007731
7005969
7009036
7002447
7009985
7003702
7006419
7004159
7004028
7004028
7004203
7007167
7007066
7007066
7001403
7009928
7009928
7009304
7009025
7003540
7005559
7002301
7004901
7002794
7004406
7004406
7001370
7003415
7007570
7003148
7003063
7007593
7004492
7010519
7009719
7009752
7006719
7009781
7003657
7005727
7005577
7002422
7002422
7006072
7004545
7001695
7001715
7011028
7010975
7006853
7005981
7004659
7002759
7009491
7003531
7008379
7004376
7005916
7006363
7007062
7003777
7006416
7004622
7004622
7005846
7003490
7007767
7008282
7008282
7006644
7006644
7004584
7007094
7010325
7010325
7007358
7004990
7005389
7006292
7003392
7009753
7007210
7009312
7005056
7009455
7002590
7006877
7004733
7001456
7001929
7001929
7003355
7003355
7007169
7004963
7005843
7006221
7001429
7003489
7004336
7010149
7002193
7002170
7007264
7005755
7006015
7008064
7002267
7002267
7002267
7008292
7007165
7005288
7007292
7003426
7006898
7006898
7007635
7009087
7006591
7007031
7004858
7004858
7004944
7001718
7009287
7009287
7003661
7002430
7006944
7008027
7004935
7004935
7005693
7010283
7009609
7003952
7003952
7003952
7009446
7001488
7006220
7008085
7009011
7006910
7002962
7002238
7005364
7006891
7002059
7006767
7008816
7004332
7004332
7006919
7009658
7001722
7006174
7003825
7008409
7008227
7004514
7008037
7007316
7009845
7004846
7005469
7005232
7002080
7004527
7009543
7006333
7008515
7005561
7004216
7004216
7002280
7008448
7008765
7009314
7009314
7009314
7009314
7009314
7005832
7005079
7003775
7005719
7010468
7001328
7001328
7001700
7006154
7009903
7006673
7010984
7010984
7006127
7006939
7010357
7005821
7003619
7005291
7005291
7008126
7004358
7004358
7004358
7004358
7008092
7008640
7010037
7006043
7006043
7006986
7006096
7006096
7010436
7008990
7006417
7006417
7007739
7007739
7007739
7003862
7005203
7005662
7006905
7008768
7008118
7009405
7009580
7010014
7004279
7001676
7001676
7004943
7002434
7006191
7006420
7006420
7009670
7003374
7009990
7006114
7006814
7006723
7002304
7009582
7009039
7004975
7009388
7005966
7006699
7006413
7009923
7009923
7001365
7002271
7009644
7002686
7005958
7009157
7009911
7003376
7004673
7010456
7009794
7009942
7007315
7009717
7004150
7002619
7008326
7008619
7005989
7001514
7009309
7006171
7006171
7006159
7006118
7006474
7006474
7009597
7007109
7005883
7007629
7001807
7007771
7008296
7007517
7004665
7004665
7001130
7008620
7005467
7005467
7005467
7010134
7005859
7003344
7005837
7010192
7009748
7006690
7009834
7002020
7002020
7006054
7003365
7008659
7009843
7009843
7008422
7001688
7001939
7010010
7004702
7004025
7006208
7009712
7008371
7007832
7005964
7009698
7009799
7009799
7009799
7006443
7010041
7009479
7006179
7007193
7010987
7009645
7006083
7006083
7010523
7001747
7008472
7006879
7004924
7009943
7006948
7004283
7009527
7005726
7006500
7005433
7001687
7001813
7001813
7001392
7010094
7010094
7005243
7005665
7010292
7003348
7007834
7007052
7003359
7003357
7001262
7009888
7001131
7001131
7003568
7008270
7006423
7002649
7009554
7008860
7009439
7006309
7006272
7006272
7001769
7003389
7003389
7003340
7007657
7010407
7009438
7010200
7001930
7008271
7001431
7001299
7005692
7001866
7006765
7008548
7006998
7002061
7003913
7002160
7004832
7004832
7002104
7007781
7005847
7009802
7003353
7008790
7001459
7001308
7003394
7004981
7003883
7009650
7004018
7004092
7010377
7007849
7007849
7009561
7004381
7008455
7004043
7008406
7009969
7008524
7010369
7001354
7001354
7001471
7001471
7008654
7008385
7003396
7001550
7005277
7003697
7003433
7008631
7009277
7002019
7001795
7003343
7009785
7002186
7005849
7007919
7009853
7009853
7003397
7007159
7002731
7003572
7010481
7011005
7011005
7001835
7001717
7003342
7003342
7009739
7009346
7001139
7007478
7001696
7005510
7002295
7007268
7009186
7002191
7006325
7006173
7007500
7005621
7010004
7010004
7004016
7009960
7004875
7006411
7009103
7009103
7003383
7002146
7006074
7008184
7010278
7009262
7007012
7010517
7010105
7006938
7007452
7005119
7005119
7006764
7007984
7007984
7005476
7003424
7009576
7006896
7010516
7009765
7006614
7004212
7006464
7001648
7011006
7009935
7007379
7007621
7009119
7008786
7008786
7003863
7006100
7009108
7004208
7007737
7005976
7004343
7008926
7006957
7009944
7009944
7001682
7008313
7001301
7010086
7008075
7001135
7004225
7005655
7010545
7010462
7005827
7005827
7007085
7010227
7007005
7003786
7005703
7009667
7006406
7008081
7010228
7010140
7009475
7010161
7009918
7003427
7003427
7010006
7006674
7005985
7005985
7006636
7006007
7004073
7006290
7010489
7007032
7008434
7004289
7007622
7003776
7003375
7009313
7009313
7008479
7004644
7006477
7003379
7007314
7003528
7003528
7004094
7007477
7005867
7010231
7009503
7008565
7007914
7004961
7004961
7008494
7006871
7006165
7009100
7002987
7006819
7005856
7003477
7010424
7007410
7006493
7009716
7003578
7004106
7006403
7009726
7002142
7001721
7010417
7009945
7003563
7005772
7005398
7002468
7004222
7010368
7010368
7010158
7010158
7006782
7008123
7008319
7006065
7008321
7003558
7006940
7008382
7003548
7009529
7003508
7003813
7008908
7008498
7007018
7010039
7003417
7005168
7002449
7005171
7008516
7010248
7006661
7009887
7008323
7001358
7007776
7007683
7006376
7004404
7004759
7007141
7009516
7006893
7002079
7009492
7009492
7006358
7003372
7004062
7007472
7002198
7003546
7008791
7010220
7002014
7006615
7009457
7001254
7006768
7004164
7006780
7006610
7009470
7009755
7001552
7001552
7009232
7005090
7006486
7006486
7005623
7008933
7005169
7008686
7006051
7001416
7005161
7007846
7007938
7007920
7007842
7005965
7007988
7007988
7007566
7005411
7005844
7005844
7005400
7005400
7005400
7004664
7007527
7005460
7005080
7006303
7005442
7004883
7005192
7004906
7007454
7007454
7006436
7007699
7007518
7007524
7004323
7009397
7007896
7007519
7004786
7008443
7007965
7004741
7007724
7007528
7007981
7007730
7007730
7004537
7004537
7004537
7004711
7004823
7007773
7006284
7005472
7005472
7007511
7006631
7006421
7005269
7007576
7004520
7004704
7005841
7006537
7006491
7004325
7006638
7005222
7004427
7006033
7004598
7007534
7005663
7004861
7006414
7005874
7007873
7008240
7005833
7005452
7005058
7005973
7005634
7006433
7006016
7006481
7006481
7005002
7004507
7007599
7005834
7004403
7006024
7006348
7005189
7005264
7004388
7006323
7007502
7008250
7007515
7005738
7004241
7007697
7007749
7006672
7005229
7007735
7005287
7005688
7005629
7004416
7007726
7004805
7007608
7007715
7006469
7005988
7005611
7006334
7006276
7005669
7006078
7007532
7007484
7006526
7005445
7008243
7007476
7006158
7005960
7007727
7008449
7007540
7006418
7004801
7004566
7007663
7006172
7004495
7005868
7007494
7007803
7004668
7006620
7006620

7006620
7005992
7008345
7006199
7005696
7005696
7008497
7004411
7007881
7005430
7007594
7004840
7005826
7005743
7005840
7007584
7008478
7005403
7005660
7005961
7006283
7005464
7005497
7007758
7005745
7005917

In [7]:
col1=[]
col2=[]
for key in census:
   col1.append(key)
   col2.append(census[key])

In [8]:
d={'SA1':col1,'CU18':col2}

In [9]:
import numpy as np
df_census=pd.DataFrame(d)
df_census.head()

       SA1  CU18
0  7009770   174
1  7009991   129
2  7007871   120
3  7008902   231
4  7007917   195

In [32]:
df_index.head()

,SA12018_code,NZDep2018,NZDep2018_Score,URPopnSA1_2018,SA22018_code,SA22018_name
0,7000000,10.0,1245.0,141,100100,North Cape
1,7000001,10.0,1245.0,114,100100,North Cape
2,7000002,NaN,NaN,0,100300,Inlets Far North District
3,7000003,10.0,1207.0,225,100100,North Cape
4,7000004,9.0,1093.0,138,100100,North Cape

In [10]:
df_depindex=df_index.loc[:,['SA12018_code','NZDep2018_Score','NZDep2018']]
df_depindex.head()

   SA12018_code  NZDep2018_Score  NZDep2018
0       7000000           1245.0       10.0
1       7000001           1245.0       10.0
2       7000002              NaN        NaN
3       7000003           1207.0       10.0
4       7000004           1093.0        9.0

In [170]:

dataframe1=df.merge(df_depindex, left_on='SA1',right_on='SA12018_code',
          suffixes=('none','_right'))

datafinal=dataframe1.merge(df_census, left_on='SA1',right_on='SA1',
          suffixes=('none','_right'))

In [171]:
datafinal=datafinal.drop(columns='SA12018_code')

In [172]:
datafinal.describe()

,Bedrooms,Bathrooms,CV,Latitude,Longitude,SA1,0-19 years,20-29 years,30-39 years,40-49 years,50-59 years,60+ years,NZDep2018_Score,NZDep2018,CU18
count,1051.000000,1049.000000,1.051000e+03,1051.000000,1051.000000,1.051000e+03,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000
mean,3.777355,2.073403,1.387521e+06,-36.893715,174.799325,7.006319e+06,47.549001,28.963844,27.042816,24.125595,22.615604,29.360609,986.503330,5.063749,179.914367
std,1.169412,0.992985,1.182939e+06,0.130100,0.119538,2.591262e+03,24.692205,21.037441,17.975408,10.942770,10.210578,21.805031,94.287255,2.913471,71.059280
min,1.000000,1.000000,2.700000e+05,-37.265021,174.317078,7.001130e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,849.000000,1.000000,3.000000
25%,3.000000,1.000000,7.800000e+05,-36.950565,174.720779,7.004416e+06,33.000000,15.000000,15.000000,18.000000,15.000000,18.000000,918.000000,2.000000,138.000000
50%,4.000000,2.000000,1.080000e+06,-36.893132,174.798575,7.006325e+06,45.000000,24.000000,24.000000,24.000000,21.000000,27.000000,959.000000,5.000000,174.000000
75%,4.000000,3.000000,1.600000e+06,-36.855789,174.880944,7.008384e+06,57.000000,36.000000,33.000000,30.000000,27.000000,36.000000,1031.000000,8.000000,210.000000
max,17.000000,8.000000,1.800000e+07,-36.177655,175.492424,7.011028e+06,201.000000,270.000000,177.000000,114.000000,90.000000,483.000000,1380.000000,10.000000,789.000000

In [173]:
datafinal.head()

,Bedrooms,Bathrooms,Address,Land area,CV,Latitude,Longitude,SA1,0-19 years,20-29 years,30-39 years,40-49 years,50-59 years,60+ years,Suburbs,NZDep2018_Score,NZDep2018,CU18
0,5,3.0,"106 Lawrence Crescent Hill Park, Auckland",714,960000,-37.012920,174.904069,7009770,48,27,24,21,24,21,Manurewa,997.0,6.0,174
1,5,3.0,"8 Corsica Way Karaka, Auckland",564,1250000,-37.063672,174.922912,7009991,42,18,12,21,15,30,Karaka,881.0,1.0,129
2,6,4.0,"243 Harbourside Drive Karaka, Auckland",626,1250000,-37.063580,174.924044,7009991,42,18,12,21,15,30,Karaka,881.0,1.0,129
3,2,1.0,"2/30 Hardington Street Onehunga, Auckland",65,740000,-36.912996,174.787425,7007871,42,6,21,21,12,15,Onehunga,908.0,2.0,120
4,3,1.0,"59 Israel Avenue Clover Park, Auckland",601,630000,-36.979037,174.892612,7008902,93,27,33,30,21,33,Clover Park,1091.0,9.0,231

In [174]:
datafinal.dtypes

Bedrooms             int64
Bathrooms          float64
Address             object
Land area           object
CV                   int64
Latitude           float64
Longitude          float64
SA1                  int64
0-19 years           int64
20-29 years          int64
30-39 years          int64
40-49 years          int64
50-59 years          int64
60+ years            int64
Suburbs             object
NZDep2018_Score    float64
NZDep2018          float64
CU18                 int64
dtype: object

In [175]:
datafinal['Land area']=datafinal['Land area'].str.extract('(\d+)').astype('float')

In [176]:
datafinal['Suburbs']=datafinal['Suburbs'].astype('string')

In [177]:
datafinal.dtypes

Bedrooms             int64
Bathrooms          float64
Address             object
Land area          float64
CV                   int64
Latitude           float64
Longitude          float64
SA1                  int64
0-19 years           int64
20-29 years          int64
30-39 years          int64
40-49 years          int64
50-59 years          int64
60+ years            int64
Suburbs             string
NZDep2018_Score    float64
NZDep2018          float64
CU18                 int64
dtype: object

In [178]:
droplist=['0-19 years','20-29 years','30-39 years','40-49 years','50-59 years','50-59 years','60+ years','Address','Latitude','Longitude','Suburbs','NZDep2018_Score','NZDep2018','CU18']

datafinal=datafinal.drop(columns=droplist)

In [54]:
datafinal['Suburbs']=datafinal['Suburbs'].astype('string')

In [74]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
datafinal['Suburbs']= label_encoder.fit_transform(datafinal['Suburbs'])

In [179]:
datafinal.isna().sum()

Bedrooms     0
Bathrooms    2
Land area    0
CV           0
SA1          0
dtype: int64

In [180]:
datafinal['Bathrooms']=datafinal['Bathrooms'].fillna(datafinal['Bathrooms'].mean())

In [181]:
datafinal.head()

   Bedrooms  Bathrooms  Land area       CV      SA1
0         5        3.0      714.0   960000  7009770
1         5        3.0      564.0  1250000  7009991
2         6        4.0      626.0  1250000  7009991
3         2        1.0       65.0   740000  7007871
4         3        1.0      601.0   630000  7008902

In [182]:
datafinal.shape

(1051, 5)

In [193]:
target=datafinal.loc[:,'CV']
predictors=datafinal.loc[:,[col for col in datafinal.columns if col!='CV' or col!='SA1']]

In [194]:
from sklearn.model_selection import train_test_split, cross_val_score
pred_train, pred_test, tar_train, tar_test  = train_test_split(predictors,target,test_size=.2)

In [204]:
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score, recall_score, auc
reg=LinearRegression()
reg.fit(pred_train,tar_train)

print(reg.score(pred_test,tar_test))

1.0

In [196]:
from sklearn.neural_network import MLPRegressor
regr = MLPRegressor(random_state=1, max_iter=2000).fit(pred_train,tar_train)
regr.score(pred_test,tar_test)

0.9999998089863125

In [199]:
logreg=LogisticRegression(max_iter=2000).fit(pred_train,tar_train)
logreg.score(pred_test,tar_test)

c:\users\udit sharma\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\linear_model\_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.3196955280685062

In [200]:
from sklearn.feature_selection import SelectKBest,chi2
pred_new = SelectKBest(chi2, k=4).fit_transform(predictors,target)

In [201]:
from sklearn.model_selection import train_test_split, cross_val_score
pred_n_train, pred_n_test, tar_n_train, tar_n_test  = train_test_split(pred_new,target,test_size=.2)

In [202]:
reg=LinearRegression()
reg.fit(pred_new,target)
print(reg.score(pred_new,target))

1.0

In [203]:
logreg=LogisticRegression(max_iter=2000)
logreg.fit(pred_new,target)
print(logreg.score(pred_new,target))

0.3510941960038059

c:\users\udit sharma\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\linear_model\_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [206]:
regr = MLPRegressor(random_state=1, max_iter=2000,hidden_layer_sizes=(100,50),learning_rate='adaptive').fit(pred_n_train,tar_n_train)
regr.score(pred_n_test,tar_n_test)

0.9999996111203804